h1 {
  font-family:'Publico-Black';
  font-size:42px;
}
h3 {
  font-family: Boomer;
  font-weight: 400;
  line-height: 1.3em;
  margin-bottom: 0;
}
/*nav*/
.logo {
  padding-top: 5px;
}
#ajc-logo img {
  float: left;
  margin: 3px;
  width: 175px;
}
.top-bar {
  background-color: #0e3968;
  border-bottom: 4px solid #fff;
  height: 50px;

}
.top-bar-section ul li, .top-bar.expanded .title-area, .top-bar.expanded {
  background-color: #0e3968;
}
.top-bar-section li:not(.has-form) a.header-link {
  background-color: #0e3968;
}
.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: #008cba none repeat scroll 0 0
}
.top-bar-section ul li > a, .top-bar-section li:not(.has-form) a:not(.button) {
  text-transform: uppercase;
}
/*homepage*/
#row-bg {
  background-color: rgba(0, 0, 0, 0.7);
  padding-bottom: 40px;
  padding-top: 70px;
  color: #fff;
}
#row-bg h1 {
  color: #fff;
}
#bg-img{
  position:fixed;
  top:-7%;
  left:-50px;
  z-index:-10;
}
#bg-img img{
  width:115%;
  height:auto;
}
#homepage-content{
  position:relative;
  height:100%; 
}
#home-icon-row{
  border-top:4px solid #fff;
  height:400px; /*placeholder, prob don't need to set this once we have content here? or do it programatically*/
  padding-top:20px;
  padding-bottom:20px;
  background-color:#0E3968;
}
/*list views*/
tbody tr:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}