<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <!-- Basic Page Needs
  ================================================== -->
  <meta charset="utf-8">
  <title>AJC Hospital Checkup</title>
  <meta name="description" content="Explore hospital quality data for Atlanta area hospitals.">
  <meta name="author" content="Emily Merwin">

  <!-- Social Open Graph Metas: fill these out to make your fb sharing post
  ================================================== -->
  <meta property="og:url" content="" />
  <meta property="og:title" content="" />
  <meta property="og:type" content="" />
  <meta property="og:image" content="" />
  <meta property="og:description" content="" />

  <!-- Mobile Specific Metas
  ================================================== -->
   <meta name="apple-mobile-web-app-capable" content="yes">
   <meta name="apple-touch-fullscreen" content="yes">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
   <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- CSS
  ================================================== -->
  <link rel="stylesheet" href="assets/css/vendor/normalize.css">
  <link rel="stylesheet" href="assets/css/vendor/foundation.css">
  <link rel="stylesheet" href="assets/css/fonts.css">
  <link rel="stylesheet" href="assets/css/app.css">
  <script src="assets/js/vendor/modernizr.js"></script>

</head>
<body>

  <div id="app-container">
    <div id="header-region"></div>
    <div id="main-region" class="container"></div>
  </div>

  <script type="text/template" id="header-template">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <a href="http://myajc.com" target="_blank">
            <img src="assets/img/ajc_white.svg"/>
          </a>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right" id="nav"></ul>
      </section>
    </nav>
  </script>

  <script type="text/template" id="header-link">
    <a class="header-link" href="#<%- url %>"><%- name %></a>
  </script>

  <script type="text/template" id="homepage-template">
    <div id="bg-img">
      <img src="assets/img/welcome3.png"/>
    </div>
    <div id="homepage-content">
      <div id="row-bg">
        <div class="row">
          <div class="small-12 columns">
            <h1>AJC Hospital Checkup</h1>
          </div>
        </div>
        <div class="row">
          <div class="medium-10 columns">
            <p>For consumers who want to make smart health care choices, the AJC is dedicated to being the go-to source for information. This website allows you to compare the records of Metro Atlanta’s hospitals when it comes to patient safety, surgeries and maternity services. Not only do these reports help inform consumers, they also hold hospitals accountable for the quality of services they deliver. Plan to visit this site frequently, as the AJC’s experts will be adding more information in the coming months. We’re looking for your input too. If you’ve had an experience at a local hospital that you’d like to share with us, please <a href="mailto:cteegardin@ajc.com" target="_blank">send us an email.</a> We’d love to hear what you’re experiencing when you entrust your health to the hospitals in our community.</p>
          </div>
        </div>
      </div>
      <div id="home-icon-row"></div>
    </div>
  </script>

  <!-- INFECTIONS
  ================================================== -->
  <script type="text/template" id="main-chart-template">
    <div id="main-chart"></div>
  </script>

  <script type="text/template" id="mobile-tr-template">
    <td><%- display_name %></td><td><span class="mobile-rating <%- obj[section][measure].ratingClass %>"></span></td><td><%- clip(obj[section][measure][stat]) %></td>
  </script>
  <script type="text/template" id="mobile-table-template">
    <thead><tr><th>Hospital</th><th>Rating</th><th>Rate</th></tr></thead>
    <tbody></tbody>
  </script>

  <script type="text/template" id="empty-template"></script>

  <script type="text/template" id="infections-tooltip-template">
    <div id="ttip" class="ttip container">
        <strong>SIR:</strong> <%= infections[measure].ratio %><br>
        <strong>Range:</strong> <%= infections[measure].lower %> <strong>to</strong> <%= infections[measure].upper %><br>
        <strong><%- infections[measure].incidents_label %>:</strong> <%= infections[measure].incidents %><br>
        <strong>Rating:</strong> <%- infections[measure].category %>
    </div>
  </script>

  <script type="text/template" id="surgery-tooltip-template">
    <div id="ttip" class="ttip container">
        <strong>Rate:</strong> <%= surgery[measure].rate %><br>
        <strong>Rate range:</strong> <%= surgery[measure].lower %> <strong>to</strong> <%= surgery[measure].upper %><br>
        <strong>Patients included:</strong> <%= surgery[measure].patients %><br>
        <strong>Rating:</strong> <%- surgery[measure].category %>
    </div>
  </script>

  <script type="text/template" id="perinatal-tooltip-template">
    <div id="ttip" class="ttip container">
        <strong><%= label %></strong>: <%= obj[measure] %>
    </div>
  </script>

  <script type="text/template" id="hospital-info-view">
    <h3><%- display_name %></h3>
    <p class="address"><%- address %></p>
    <hr>
  </script>

  <script type="text/template" id="hospital-infection-item-template">
    <h4><%= label %></h4>
    <% if (category === "Not Available") {%>
      <p><%= category %></p>
    <% } else { %>
      <p>
        <strong>Standardized infection ratio:</strong> <%= ratio %><br>
        <strong><%= incidents_label %>:</strong> <%= incidents %><br>
        <strong>Rating:</strong> <%= category %>
        <div class="chart" id="<%= measure + '-chart' %>"></div>
      </p>
    <% } %>
    <hr>
  </script>

  <script type="text/template" id="hospital-surgery-item-template">
    <h4><%- measure.charAt(0).toUpperCase() + measure.substring(1).toLowerCase() %></h4>
    <p>
      <strong>Patients included:</strong> <%= patients %><br>
      <strong>Rate:</strong> <%= rate %>%<br>
      <strong>Rate range:</strong> <%= upper %>% <strong>to</strong> <%= lower %>%<br>
      <strong>Rating:</strong> <%= category %>
    </p>
    <hr>
  </script>

  <script type="text/template" id="hospital-perinatal-template">
    <h4>Facilities</h4>
    <p>
      <strong>Birthing rooms:</strong> <%= Birthing_Rms %><br>
      <strong>Delivery rooms:</strong> <%= Delivery_Rms %><br>
      <strong>Labor, delivery and recovery rooms:</strong> <%= LDR_Rms %><br>
      <strong>Labor, delivery, recovery & postpartum rooms:</strong> <%= LDRP_Rms %><br>
      <strong>Newborn beds:</strong> <%= Beds_New_Born %><br>
      <strong>Intermediate care beds:</strong> <%= Beds_Intermediate %><br>
      <strong>Intensive care beds:</strong> <%= Beds_Intensive %>
    </p>
    <hr>
    <h4>Costs</h4>
    <p>
      <strong>Average delivery charge:</strong> <%= formatMoney(avg_delivery_charge) %><br>
      <strong>Average premature delivery charge:</strong> <%= formatMoney(avg_premature_charge) %>
    </p>
    <hr>
    <h4>Outcomes</h4>
    <p>
      <strong>Total births:</strong> <%= formatCommas(total_births) %><br>
      <strong>Live births:</strong> <%= formatCommas(Live_Births) %><br>
      <strong>C-Sections:</strong> <%= formatCommas(C_Sect) %><br>
      <strong>Early elective delivery rate:</strong> <%= early_births_pct %>%
    </p>
    <hr>
  </script>

  <script type="text/template" id="section-layout">
    <div class="row">
      <div id="section-headline-region" class="medium-12 columns"></div>
      <div id="section-intro-region" class="medium-12 columns"></div>
    </div>
    <div class="row">
      <div class="medium-7 columns">
        <div id="filter-menu-region"></div>
        <div id="legend-region"></div>
        <div id="main-chart-region"></div>
        <div id="bottom-region"></div>
      </div>
      <div id="hospital-show-region" class="medium-5 columns"></div>
    </div>
  </script>

  <script type="text/template" id="text-block-template">
    <%= text %>
  </script>

  <script type="text/template" id="hospital-layout">
    <div class="row">
      <div id="hospital-top-region" class="medium-12 columns"></div>
    </div>
    <div class="row">
      <div id="hospital-region-1" class="medium-12 columns"></div>
    </div>
    <div class="row">
      <div id="hospital-region-2" class="medium-12 columns"></div>
    </div>
  </script>

  <script type="text/template" id="hospital-legend-template">
    <p>The detailed information about individual hospitals shows the actual numbers of infections and the CDC predicted number of infections for similar hospitals.</p>
    <div id="detail-legend">
      <svg class="legend-svg"><line class="predicted" y1="0" y2="15" x1="0"></line></svg>
      <span class="chart-label">Predicted</span>
      <span class="legend-margin">
        <svg class="legend-svg"><line class="observed" y1="0" y2="15" x1="0"></line></svg>
        <span class="chart-label">Observed</span>
      </span>
    </div>
  </script>

  <script type="text/template" id="main-legend">
    <ul>
      <li class="good chart-label">Better</li>
      <li class="normal chart-label">No Different</li>
      <li class="bad chart-label">Worse</li>
      <li class="chart-label"><%- label %></li>
    </ul>
  </script>

  <script type="text/template" id="filter-menu-template">
      <% _.each(items, function(item){ %>
        <option value="<%= item.key %>"><%= item.label %></option>
      <% }) %>
  </script>
  <!-- END INFECTIONS
  ================================================== -->

  <script type="text/template" id="loading-view">
    <div id="spinner"></div>
  </script>

  <script src="assets/js/vendor/jquery.js"></script>
  <script src="assets/js/vendor/fastclick.js"></script>
  <script src="assets/js/vendor/underscore.js"></script>
  <script src="assets/js/vendor/backbone.js"></script>
  <script src="assets/js/vendor/backbone.localstorage.js"></script>
  <script src="assets/js/vendor/backbone.marionette.js"></script>
  <script src="assets/js/vendor/d3.js"></script>
  <script src="assets/js/vendor/d3bb.js"></script>
  <script src="assets/js/vendor/foundation.js"></script>
  <script src="assets/js/vendor/foundation.topbar.js"></script>
  <script src="assets/js/vendor/spin.js"></script>
  <script src="assets/js/vendor/jquery.spin.js"></script>
  <script src="assets/js/vendor/backbone.select.js"></script>
  <script src="assets/js/vendor/flatpage_stubs.js"></script><!-- TODO add script -->

  <!-- build:js assets/js/app.js -->
  <script src="assets/js/app.js"></script>
  <script src="assets/js/apps/config/storage/localstorage.js"></script>
  <script src="assets/js/entities/common.js"></script><!--currently empty-->
  <script src="assets/js/entities/header.js"></script>
  <script src="assets/js/apps/header/list/list_controller.js"></script>
  <script src="assets/js/apps/header/list/list_view.js"></script>
  <script src="assets/js/apps/header/header_app.js"></script>
  <script src="assets/js/entities/section.js"></script>
  <script src="assets/js/apps/sections/section_views.js"></script>
  <script src="assets/js/apps/sections/section_controller.js"></script>
  <script src="assets/js/apps/sections/hospital/hospital_controller.js"></script>
  <script src="assets/js/apps/sections/hospital/hospital_views.js"></script>
  <script src="assets/js/apps/sections/section_app.js"></script>
  <script src="assets/js/apps/home/home_app.js"></script>
  <script src="assets/js/apps/home/home_controller.js"></script>
  <script src="assets/js/apps/home/home_view.js"></script>
  <script src="assets/js/apps/sections/chart/chart_base_view.js"></script>
  <script src="assets/js/apps/sections/chart/chart_views.js"></script>
  <script src="assets/js/common/behaviors.js"></script>
  <script src="assets/js/common/views.js"></script>
  <script src="assets/js/entities/text.js"></script>
  <!-- /build -->
  <script type="text/javascript">
    $(document).foundation();

    HospitalCheckup.start();
  </script>

</body>
</html>
